html{
    margin: 0px;
    padding: 0px;
    display: flex;
    /*letter-spacing: 0.125em;*/
    line-height: 1;
    font-size: 1.4vh;
}

body{
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    font-family: Ubuntu;
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    /*font-family: futura-pt;*/
}

#sidebar{
    height: 100vh;
    width: 32%;
    background-color: #fafafa;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 3%;
    padding-top: 0%;
    position: fixed;
}

#myname{
    font-size: 3em;
    /*font-size: 7.2vw;*/
}

i{
    color: #005ba9;
}

#skillsIntro, #extracurricularIntro{
    color: #005ba9;
    -webkit-transition: color 0.3s;
}

#skillsIntro:hover, #extracurricularIntro:hover{
    cursor: pointer;
    color: #207bc9;
}

#logosDiv{
    height: 27vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -5%
}

img, i {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .3s ease-in-out;
    }

img:hover, i:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}

h1 {
    font-family: Ubuntu;
    /*font-family: "Oswald", sans-serif;*/
    font-style: normal;
    font-weight: 700;
    margin-top: 0%;
}

h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    margin-top: 0%;
}

.contentTitle{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    -webkit-transition: color 0.3s;
}

.contentTitle:hover{
    color: white;
    cursor: pointer;
}

p{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 100;
    font-size: 1.1em;
    margin-top: 0%;
}

h5{
    font-family: Ubuntu;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    margin-top: -1em;
    font-size: 1.5em;
    /*text-decoration: underline;*/
    color: white;
}

li{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 100;
    font-size: 1.1em;
    margin-top: 0%;
}

#content{
    width: 68%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100vh;
    /*overflow: auto;*/
    margin-left: 35%;
}

#contentDiv1{
    padding: 5%;
    color: #dadada;
    min-height: 55vh;
    background-color: #005ba9;
    border-left: solid 2.3em #0057a1;
    background-color: #507C90;
    border-left: solid 2.3em #406C80;
}

#contentDiv2{
    padding: 5%;
    color: #f3f3f3;
    height: 55vh;
    background-color: #f4b93d;
    border-left: solid 2.3em #eab030;
    background-color: #C9C5BF;
    border-left: solid 2.3em #B9B5AF;
}

#contentDiv3{
    padding: 5%;
    color: #dadada;
    height: 55vh;
    background-color: #b4ddbf;
    border-left: solid 2.3em #a4cdaf;
    background-color: #77726B;
    border-left: solid 2.3em #67625B;
}

#contentDiv4{
    padding: 5%;
    color: #dadada;
    height: 55vh;
    background-color: #4a4a4a;
    border-left: solid 2.3em #3a3a3a;
    background-color: #39444B;
    border-left: solid 2.3em #29343B;
}

#insideContent{
    height: 80%;
    width: 100%;
    padding-top: 15%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

#contentTitles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 26%;
    height: 60%;
    border-left: solid 1px;
    padding-left: 1%;
}

.contentContent{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 5%;
}

/* @media screen and (max-width: 800px) {

    body{
        width: 100%;
        font-family: 'Titillium Web', sans-serif;
        margin: 0;
        font-family: Ubuntu;
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
    }

    #sidebar{
        width: auto;
        position: relative;
    }

    #content{
        width: 100%;
        margin-left: 0px;
    }

} */

@media screen and (max-aspect-ratio: 1/1) {

    body{
        width: 100%;
        font-family: 'Titillium Web', sans-serif;
        margin: 0;
        font-family: Ubuntu;
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
    }

    #sidebar{
        width: auto;
        position: relative;
    }

    #content{
        width: 100%;
        margin-left: 0px;
    }

    #contentDiv1{
        border-top: solid 2.3em #406C80;
        border-left: solid 0em #3a3a3a;
    }

    #contentDiv2{
        border-top: solid 2.3em #B9B5AF;
        border-left: solid 0em #3a3a3a;
    }

    #contentDiv3{
        border-top: solid 2.3em #67625B;
        border-left: solid 0em #3a3a3a;
    }

    #contentDiv4{
        border-top: solid 2.3em #29343B;
        border-left: solid 0em #3a3a3a;
    }

    #insideContent{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 5%;
    }

    #contentTitles{
        flex-direction: row;
        width: 80%;
        border-left: solid 0px;
        height: auto;
        border-bottom: solid 1px;
    }

    .contentContent{
        padding-top: 3%;
        width: 80%;
        padding-left: 0%;
    }

}
