html{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    height: 400vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    height: auto;
    width: 80%;
    margin: 0 10%;
    position: fixed;
    z-index: 3;
    background-color: #375277;
    background-color: white;
    border-bottom: 1px solid grey;
    color: black;
    text-align: center;
}

#headerName{
    order: 3;
    color: orange;
    /*flex: 0 0 auto;*/
}

#headerSkills{
    order: 4;
    /*flex: 2 1 auto;*/
}

#headerAbout{
    order: 2;
    /*flex: 2 1 auto;*/
}

#headerEducation{
    order: 1;
    /*flex: 1 1 auto;*/
}

#headerExtracurricular{
    order: 5;
    /*flex: 1 1 auto;*/
}

#headerSkills:hover, #headerAbout:hover, #headerEducation:hover, #headerExtracurricular:hover{
    color: orange;
    cursor: pointer;
}

#bodyDiv{
    margin: 5% 20%;
}
