html{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    height: 400vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: auto;
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 3;
    background-color: #375277;
    background-color: white;
    border-bottom: 1px solid grey;
    color: black;
    text-align: center;
}

#headerName{
    order: 3;
    color: orange;
    text-decoration: none;
}

#headerSkills{
    order: 4;
    /*flex: 2 1 auto;*/
}

#headerAbout{
    order: 2;
    /*flex: 2 1 auto;*/
}

#headerEducation{
    order: 1;
    /*flex: 1 1 auto;*/
}

#headerExtracurricular{
    order: 5;
    /*flex: 1 1 auto;*/
}

#headerSkills:hover, #headerAbout:hover, #headerEducation:hover, #headerExtracurricular:hover{
    color: orange;
    cursor: pointer;
}

#bodyDiv{
    margin: 5% 20%;
}

hr{
    color: white;
    width: 0%;
}

h1{
    text-decoration: underline;
    text-decoration-color: cyan;
    text-decoration-style: dotted;
}

.titleDiv{
    width: 25%;
}

.contentDiv{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#aboutMainDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

#skillsMainDiv{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
}

#educationMainDiv{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
}

#extracurricularMainDiv{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
}

#horizontalDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#verticalDiv{
    width: 25%;
    display: flex;
    flex-direction: column;
}
